#show-view, {
  fieldset {
    .row-fluid {
      .form-group {
        .form-control {
          border: initial;
          border-radius: initial;
          box-shadow: initial;
          padding: initial;
        }
      }
    }
  }
}

#show-view, #create-view, #edit-view {
  fieldset {
    padding-bottom: 5px;

    legend {
      border: none;
      border-bottom: 4px solid #404040;
      color: #404040;
      font-size: 18px;
      font-weight: bold;
      padding-bottom: 5px;
      position: static;
      width: 100%;
      margin-bottom: 0px;
    }

    .row-fluid {
      .form-field {
        min-height: 80px;
      }

      label {
        padding: 0px;
      }

      label.col-sm-2 {
        width: 100%;
        text-align: left;
      }

      .row {
        .col-sm-4, .col-md-3 {
          width: 100%;
          text-align: left;
        }
      }

      p span{
        display: block;
        height: 34px;
        padding-top: 12px;
        padding-bottom: 7px;
        font-size: 14px;
      }

      .date_widget {
        width: 100%;
      }

      p {
        padding-top: 13px;
        paddint-bottom: 6px;
      }

      .form-group {
        margin-left: initial;
        margin-right: initial;
        margin-bottom: initial;

        padding: 8px;
      }

      ma-date-field.col-sm-4 {
        width: 100%; // force width;
        button {
          padding-bottom: 7px; // fix alignment
        }
      }
    }

    @media only screen and (min-width: 700px) {
      .row-fluid {
        .form-group {
          border: initial;
          border-right: 1px solid #333333;
          border-bottom: 1px solid #333333;

          .form-group {
            border-bottom: 0px;
          }
        }

        .form-group:last-child {
          border-right: initial;
        }
      }
    }
  }
}
