<div class="col-lg-12 form-group">

  <div ng-if="::field.type()!=='fieldset'">
    <label class="col-sm-2 control-label">{{ field.label() }}</label>
    <div class="show-value"
         ng-class="(field.getCssClasses(entry) ||
                   'col-sm-10 col-md-8 col-lg-7')">
      <div ng-class="::'ng-admin-field-' + field.name() + ' ' +
                     'ng-admin-type-' + field.type()">
        <ma-column field="::field" entry="::entry" entity="::entity"
                   datastore="::datastore">
        </ma-column>
      </div>
    </div>
  </div>

  <fieldset ng-if="::field.type()==='fieldset'">
    <legend>{{::field.label()}}</legend>

    <div ng-repeat="row in ::field.rows()" class="row-fluid"
         ng-class="::row.getCssClasses()">
      <div ng-repeat="rowField in ::row.fields()" class="form-group"
           ng-class="::row.cssSpanClass(rowField)">
        <label>{{ ::rowField.label() }}</label>
        <div class="form-control">
          <ma-column field="::rowField"
                     entry="::entry"
                     entity="::entity"
                     datastore="::datastore">
          </ma-column>
        </div>

      </div>
    </div>
  </fieldset>
</div>
